:root {
    --bg-color-light: white;
    --text-color-light: #F5F5F5;
    --bg-color-dark: #303030;
    --text-color-dark: #303030;
    --blue-text-color: #3CA0E7;
    --dropdown-width: 100%;

    /* Active variables */
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-dark);
    --icon-color: var(--text-color-dark);
    --blue-color: var(--blue-text-color);
}

html {
    /*font-family: 'Courier New', Courier, monospace;*/
    font-size: calc((.2em + 0.5vmin) + (.2em + 0.5vmax));
    text-align: justify;
    hyphens: auto;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 1s;
    padding: 1rem;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

svg {
    fill: var(--icon-color);
}

#dayIcon {
    display: none;
}

#nightIcon {
    display: inline;
}

a:link {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

a:visited {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.nav-header {
    display: flex;
}

/* Navigation bar */
/*-----------------------------------------------------------------------------*/
nav {
    position: relative;
    z-index: 9;

    &.navBar {
        margin: 0 auto;
        display: block;
        padding: 10px 0 10px 0;
        text-align: center;

        ul li {
            list-style: none;
            margin: 0 auto;
            display: inline-block;
            padding: 0 20px;
            position: relative;
            text-decoration: none;
            text-align: center;
            font-family: arvo;
        }

        li span {
            color: var(--text-color);
        } 

        li:hover {
            color: var(--blue-color);
            cursor: pointer;
        }
    }
}

.navBar span {
    text-decoration: none;

    &:hover {
        color: var(--blue-color);
    }
}

/* Dropdown menu */
/*-------------------------------------------------------------*/
/* Boring button styles */
a.button {
    /* Frame */
    display: inline-block;
    padding: 20px 28px;
    border-radius: 50px;
    box-sizing: border-box;

    /* Style */
    border: none;
    font-size: 24px;
    cursor: pointer;
}

a.button:active {
    filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
    position: relative;
    padding: 0;
    margin-right: 1em;

    border: none;
}

.dropdown summary {
    list-style: none;
    list-style-type: none;
}

.dropdown>summary::-webkit-details-marker {
    display: none;
}

.dropdown summary:focus {
    outline: none;
}

.dropdown summary:focus a.button {
    border: 2px solid var(--text-color);
}

.dropdown summary:focus {
    outline: none;
}

.dropdown ul {
    position: absolute;
    margin: 10px 0 0 0;
    padding: 20px 0;
    width: 90vw;
    left: 50%;
    margin-left: calc((var(--dropdown-width) / 2) * -1);
    box-sizing: border-box;
    z-index: 2;

    background: var(--bg-color);
    border-radius: 6px;
    list-style: none;
    border: 2px solid var(--text-color);
    text-align: center;
}

.dropdown ul li {
    padding: 10px;
    margin: 0;
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;

    color: var(--text-color);
    text-decoration: none;
}

.dropdown ul li:hover {
    color: var(--blue-color);
    cursor: pointer;
}

/* Close the dropdown with outside clicks */
.dropdown>summary::before {
    display: none;
}

.dropdown[open]>summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
/* ---------------------------------------------------------------- */

a.text-link {
    color: var(--blue-color);
}

/* ----------------------------------------------- */
/* Some media responsiveness*/
/* ----------------------------------------------- */
@media (min-width: 798px) {
    .dropdown {
        display: none;
    }

}

@media (max-width: 798px) {
    .nav-links {
        display: none;
    }
}