:root {
    --bg-color-light: white;
    --text-color-light: #F5F5F5;
    --bg-color-dark: #303030;
    --text-color-dark: #303030;
    --blue-text-color: #3CA0E7;
    --dropdown-width: 100%;
    --dark-shadow-color: rgba(31, 38, 135, 0.2);
    --light-shadow-color: rgba(255, 255, 255, 0.3);

    /* Active variables */
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-dark);
    --icon-color: var(--text-color-dark);
    --blue-color: var(--blue-text-color);
    --inner-shadow: var(--dark-shadow-color);
    --outer-shadow: var(--light-shadow-color);
}

html {
    /*font-family: 'Courier New', Courier, monospace;*/
    font-size: 1rem;
    text-align: justify;
    font-weight: 100;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 1s;
    padding: 1rem;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

svg {
    fill: var(--icon-color);
}

#dayIcon {
    display: none;
}

#nightIcon {
    display: inline;
}

a:link {
    text-decoration: none;
    color: var(--text-color);
    ;
}

a:visited {
    text-decoration: none;
    color: var(--text-color);
}

.nav-header {
    display: flex;
}

/* Navigation bar */
/*-----------------------------------------------------------------------------*/
nav {
    position: relative;
    z-index: 9;

    &.navBar {
        margin: 0 auto;
        display: block;
        padding: 10px 0 10px 0;
        text-align: center;
        font-size: 16px;

        ul li {
            list-style: none;
            margin: 0 auto;
            display: inline-block;
            padding: 0 20px;
            position: relative;
            text-decoration: none;
            text-align: center;
            font-family: arvo;
        }

        li span {
            color: var(--text-color);
        }

        li:hover {
            color: var(--blue-color);
            cursor: pointer;
        }
    }
}

.navBar span {
    text-decoration: none;

    &:hover {
        color: var(--blue-color);
    }
}

/* Dropdown menu */
/*-------------------------------------------------------------*/
/* Boring button styles */
a.button {
    /* Frame */
    display: inline-block;
    padding: 20px 28px;
    border-radius: 50px;
    box-sizing: border-box;

    /* Style */
    border: none;
    font-size: 24px;
    cursor: pointer;
}

a.button:active {
    filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
    position: relative;
    padding: 0;
    margin-right: 1em;

    border: none;
}

.dropdown summary {
    list-style: none;
    list-style-type: none;
}

.dropdown>summary::-webkit-details-marker {
    display: none;
}

.dropdown summary:focus {
    outline: none;
}

.dropdown summary:focus a.button {
    border: 2px solid var(--text-color);
}

.dropdown summary:focus {
    outline: none;
}

.dropdown ul {
    position: absolute;
    margin: 10px 0 0 0;
    padding: 20px 0;
    width: 90vw;
    left: 50%;
    margin-left: calc((var(--dropdown-width) / 2) * -1);
    box-sizing: border-box;
    z-index: 2;

    background: var(--bg-color);
    border-radius: 6px;
    list-style: none;
    border: 2px solid var(--text-color);
    text-align: center;
}

.dropdown ul li {
    padding: 10px;
    margin: 0;
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;

    color: var(--text-color);
    text-decoration: none;
}

.dropdown ul li:hover {
    color: var(--blue-color);
    cursor: pointer;
}

/* Close the dropdown with outside clicks */
.dropdown>summary::before {
    display: none;
}

.dropdown[open]>summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

/* ---------------------------------------------------------------- */

a.text-link {
    color: var(--blue-color);
}

/* Container - Resume */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column-left {
    width: calc(85%/7 * 2);
}

.column-right {
    width: calc(85%/7 * 5);
    font-size: 1.1rem;
}

/* Sub container */
.sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-column-left {
    width: calc(100%/5 * 1);
    font-size: 1rem;
}

.sub-column-right {
    width: calc(100%/5 * 4);
    font-size: 1.1rem;
}

/* Index */
.index {
    position: fixed;
    font-size: 0.8rem;
    padding: 10px;
}

.index li {
    list-style-type: none;
    padding-left: 10px;
    border-left: 1px solid;
    margin: 10px;
}

.index li:hover {
    color: var(--blue-color);
    border-left: 2px solid;
    margin-left: calc(10px - 1px);
    transition: 0.1s linear;
}

.index li a:hover {
    font-weight: 500;
    color: var(--blue-color);
    transition: 0.3s linear;
}

/* Boxes around each section */
#summary,
#education,
#work,
#projects,
#skills,
#extracurricular,
#languages,
#more {
    padding: 20px;
    margin-top: 20px;
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

.education-content,
.work-content,
.project-content,
.skills-content,
.extracurricular-content {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}

.education-content:hover,
.work-content:hover,
.project-content:hover,
.skills-content:hover,
.extracurricular-content:hover {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 8px 60px var(--outer-shadow),
        inset 0 4px 10px var(--inner-shadow);
}

/* Resume - Summary */
#summary tr td:nth-child(2) {
    padding: 5px;
}

#summary tr td:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
}

#summary tr td {
    vertical-align: text-top;
}

.summary-div div:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
    vertical-align: text-top;
}

.summary-div div {
    padding-left: 4px;
}

.summary-div div:nth-child(2) {
    padding-top: 5px;
}

/* Education */
#education .sub-column-left {
    text-align: left;

    p {
        font-weight: 600;
        margin: 1px;
    }
}



/* Skills*/

#skills .sub-column-left, #skills .sub-column-right {
    width: 50%;
}

/* ----------------------------------------------- */
/* Some media responsiveness*/
/* ----------------------------------------------- */
@media (max-width: 798px) {
    .container {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    .nav-links,
    .index,
    #summary table tr:nth-last-child(1) {
        display: none;
    }
}

@media (min-width: 798px) {

    .dropdown,
    .summary-div {
        display: none;
    }
}