:root {
    --bg-color-light: white;
    --text-color-light: #F5F5F5;
    --bg-color-dark: #303030;
    --text-color-dark: #303030;
    --blue-text-color: #3CA0E7;
    --dropdown-width: 100%;
    --dark-shadow-color: rgba(31, 38, 135, 0.2);
    --light-shadow-color: rgba(255, 255, 255, 0.3);

    /* Active variables */
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-dark);
    --icon-color: var(--text-color-dark);
    --blue-color: var(--blue-text-color);
    --inner-shadow: var(--dark-shadow-color);
    --outer-shadow: var(--light-shadow-color);
}

html {
    /*font-family: 'Courier New', Courier, monospace;*/
    font-size: calc((.2em + 0.5vmin) + (.2em + 0.5vmax));
    text-align: justify;
    hyphens: auto;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 1s;
    padding: 1%;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

svg {
    fill: var(--icon-color);
}

#dayIcon {
    display: none;
}

#nightIcon {
    display: inline;
}

a:link {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

a:visited {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.nav-header {
    display: flex;
}

/* Navigation bar */
/*-----------------------------------------------------------------------------*/
nav {
    position: relative;
    z-index: 9;

    &.navBar {
        margin: 0 auto;
        display: block;
        padding: 10px 0 10px 0;
        text-align: center;

        ul li {
            list-style: none;
            margin: 0 auto;
            display: inline-block;
            padding: 0 20px;
            position: relative;
            text-decoration: none;
            text-align: center;
            font-family: arvo;
        }

        li span {
            color: var(--text-color);
        }

        li:hover {
            color: var(--blue-color);
            cursor: pointer;
        }
    }
}

.navBar span {
    text-decoration: none;

    &:hover {
        color: var(--blue-color);
    }
}

/* Dropdown menu */
/*-------------------------------------------------------------*/
/* Boring button styles */
a.button {
    /* Frame */
    display: inline-block;
    padding: 20px 28px;
    border-radius: 50px;
    box-sizing: border-box;

    /* Style */
    border: none;
    font-size: 24px;
    cursor: pointer;
}

a.button:active {
    filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
    position: relative;
    padding: 0;
    margin-right: 1em;

    border: none;
}

.dropdown summary {
    list-style: none;
    list-style-type: none;
}

.dropdown>summary::-webkit-details-marker {
    display: none;
}

.dropdown summary:focus {
    outline: none;
}

.dropdown summary:focus a.button {
    border: 2px solid var(--text-color);
}

.dropdown summary:focus {
    outline: none;
}

.dropdown ul {
    position: absolute;
    margin: 10px 0 0 0;
    padding: 20px 0;
    width: 90vw;
    left: 50%;
    margin-left: calc((var(--dropdown-width) / 2) * -1);
    box-sizing: border-box;
    z-index: 2;

    background: var(--bg-color);
    border-radius: 6px;
    list-style: none;
    border: 2px solid var(--text-color);
    text-align: center;
}

.dropdown ul li {
    padding: 10px;
    margin: 0;
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;

    color: var(--text-color);
    text-decoration: none;
}

.dropdown ul li:hover {
    color: var(--blue-color);
    cursor: pointer;
}

/* Close the dropdown with outside clicks */
.dropdown>summary::before {
    display: none;
}

.dropdown[open]>summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

/* ---------------------------------------------------------------- */

a.text-link {
    color: var(--blue-color);
}

/*--------------*/
/* Blog content */
/*--------------*/

/* Cards */
@media (max-width: 798px) {
    .cards {
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 1285px) and (min-width: 798px) {
    .cards {
        grid-template-columns: 1fr 1fr !important;
    }
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.card {
    position: relative;
    padding: 1.5rem;
    border-radius: 20px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background: var(--bg-color);
    border: 1px solid var(--bg-color);
    color: var(--text-color);
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card .date {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 0.9rem;
    opacity: 0.9;
    /* background-color: color-mix(in srgb, var(--bg-color) 75%, transparent); */
    background-color: var(--bg-color);
    border-radius: 5px;
    z-index: 1;
    padding: 2%;
}

.card h2 {
    margin: 0 0 0.5rem;
    font-size: 1.4rem;
}

.card-content {
    background-color: var(--bg-color);
    border-radius: 5px;
    z-index: 1;
    padding: 1%;
}

.card .bg-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(4px) brightness(0.7);
    transition: 0.4s ease;
}

.card:hover .bg-img {
    filter: blur(0px) brightness(1);
    transform: scale(1.05);
    z-index: 0;
}

.card:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.4);
}

/* ----------------------------------------------- */
/* Some media responsiveness*/
/* ----------------------------------------------- */
@media (min-width: 798px) {
    .dropdown {
        display: none;
    }

}

@media (max-width: 798px) {
    .nav-links {
        display: none;
    }
}